/*
 * 파일명: add_prod.css
 * 담당자: 김영태
 * 작성일: 2025-09-02
 * 최근 수정일: 2025-09-02
 * 설명:  상품 등록 add_prod 스타일 시트
 * 수정이력:
 *  2025-09-02 : 최초 작성
*/

.form_content {
    padding: 0 15px;
    box-sizing: border-box;
}

form div {
    margin-bottom: var(--spacing-sm);
}

.image_upload {
    width: 96px;
    height: 96px;
    border-radius: 15px;
    background-color: #f3f3f3;
    outline: 1px solid var(--border-color-basic);
}

.upload_box {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload_img_count {
    margin-top: -10px;
}

.product_title,
.product_pirce {
    position: relative;
    margin-bottom: var(--spacing-sm);
}

.product_title label,
.product_pirce label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    /* font-size: 14px; */
    /* font-weight: 400; */
    color: var(--font-color-placeholder);
}

.label_box {
    display: block;
    width: 600px;
    height: 40px;
    background-color: #f3f3f3;
    border-radius: 5px;
    outline: 1px solid var(--border-color-basic);
    border: none;
}

.product_status_checkbox,
.warranty_status_checkbox,
.trade_checkbox {
    display: flex;
    gap: var(--spacing-xs);
}

.product_status_checkbox label,
.warranty_status_checkbox label,
.trade_checkbox label {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 5px;
    outline: 1px solid var(--border-color-basic);
    border: none;
    color: var(--font-color-placeholder);
}

.product_status_checkbox input[type="radio"],
.warranty_status_checkbox input[type="radio"],
.trade_checkbox input[type="checkbox"] {
    display: none;
}

.product_status_checkbox input[type="radio"]:checked+label,
.warranty_status_checkbox input[type="radio"]:checked+label,
.trade_checkbox input[type="checkbox"]:checked+label {
    background-color: var(--btn-bg-color-basic);
    color: var(--font-color-white);
}

textarea {
    resize: none;
    width: 100%;
    height: 190px;
    background-color: #f3f3f3;
    border-radius: 5px;
    outline: 1px solid var(--border-color-basic);
    border: none;
    padding: var(--spacing-xs);
    box-sizing: border-box;
}



.product_tag_input {
    display: flex;
    gap: var(--spacing-xs);
}

.tag_input {
    flex: 1;
    height: 40px;
    background-color: #f3f3f3;
    outline: 1px solid var(--border-color-basic);
    color: var(--font-color-placeholder);
    border: none;
    border-radius: 5px;
    padding-left: 14px;
}

.tag_add_btn {
    width: 115px;
    height: 40px;
    outline: 1px solid var(--border-color-basic);
    border-radius: 5px;
}

.tag_list {
    display: flex;
    gap: var(--spacing-xs);
}

.tag_item {
    display: flex;
    padding: 6px 12px;
    outline: 1px solid var(--border-color-basic);
    border-radius: 50px;
}

.tag_item button {
    display: flex;
    align-items: center;
}

.submit_button {
    width: 100%;
    height: 40px;
    background-color: var(--btn-bg-color-basic);
    color: var(--font-color-white);
    border-radius: 5px;
}