/* 
 * 파일명: common.css
 * 담당자: 김영태
 * 작성일: 2025-08-28
 * 최근 수정일: 2025-08-28
 * 설명:  공통 CSS 파일
 * 수정이력:
 *  2025-08-28: 최초 작성
*/



/*variants*/
:root {
	--container: 780px;
	--fz: 16px;
	--lh: auto;
	--primary: rgba(255, 62, 28, 1);
	--black: rgba(0, 0, 0, 1);
	--light_black: rgba(34, 34, 34, 1);
	--white: rgba(255, 255, 255, 1);
	--sub_text: rgba(147, 147, 147, 1);
	--icon_color: rgba(82, 82, 82, 1);
	--border_1: rgba(217, 217, 217, 1);
	--border_2: rgba(243, 243, 243, 1);
}

/*layout*/
.container {
	width: var(--container);
	margin: 0 auto;
}

/*typography*/
body {
	font: var(--lh) "Inter";
	font-size: var(--fz);
	color: var(--black);
	font-weight: 400;
}
.body_tb {
	font: var(--lh);
	font-size: var(--fz);
	font-weight: 700;
}
.large_tb {
	font: var(--lh);
	font-size: calc(var(--fz) * 1.75);
	font-weight: 700;
}
.large_tr {
	font: calc(var(--lh) * 2);
	font-size: calc(var(--fz) * 1.75);
}
.medium_tb {
	font: var(--lh);
	font-size: calc(var(--fz) * 1.25);
	font-weight: 700;
}
.medium_tr {
	font: var(--lh);
	font-size: calc(var(--fz) * 1.125);
}
.small_tb {
	font: var(--lh);
	font-size: calc(var(--fz) * 0.875);
	font-weight: 700;
}
.small_tr {
	font: var(--lh);
	font-size: calc(var(--fz) * 0.875);
}
.d_flex{
	display: flex;
	align-self: start;
}
/* button */

/* normal button */
.btn_normal {
	background: #000;
	color: var(--white);
	font: var(--small_tr);
	padding: 0 14px;
	border-radius: 5px;
	height: 40px;
	display: inline-block;
	transition: 0.3s;
	line-height: 40px;
}
.btn_normal:hover {
	background: var(--light_black);
	color: var(--white);
}
.btn_half {
	max-height: 362px;
	width: 46.4%;
}
.btn_full {
	width: 744px;
}
.btn_normal:disabled{
	background: var(--border_1);
	color: var(--white);
}

/* primary button */
.btn_primary {
	background: var(--primary);
	color: var(--white);
	font: var(--small_tr);
	padding: 0 14px;
	border-radius: 5px;
	height: 40px;
	display: inline-block;
	transition: 0.3s;
	line-height: 40px;
}
.btn_primary:hover {
	background: #FF5132;
	color: var(--white);
}
.btn_primary:disabled{
	background: #FFB2A4;
	color: var(--white);
}

/* outline button */
.btn_outline {
	background: var(--white);
	color: var(--black);
	border: 1px solid var(--black);
	font: var(--small_tr);
	padding: 0 14px;
	border-radius: 5px;
	height: 40px;
	display: inline-block;
	transition: 0.3s;
	line-height: 40px;
}
.btn_outline:hover {
	background: var(--black);
	color: var(--white);
}
.btn_outline:disabled{
	background:var(--border_2);
	color:#999;
	border-color: #999;
}

/* category */
.category {
	background: var(--white);
	color: var(--black);
	font: var(--small_tr);
	padding: 0 12px;
	border-radius: 15px;
	height: 30px;
	display: inline-block;
	transition: 0.3s;
	line-height: 30px;
}
.category:hover,
.category:active,
.category.selected {
	background: var(--black);
	color: var(--white);
}

