  /* 
 * 파일명: footer.css
 * 담당자: 김영태
 * 작성일: 2025-08-29
 * 최근 수정일: 2025-08-29
 * 설명:  footer CSS 파일
 * 수정이력:
 *  2025-08-29: 최초 작성 및 footer 스타일 작성
*/

  footer {
      max-width: 780px;
      background-color: #1a1a1a;
      color: white;
      padding: 40px 14px 60px 14px;
  }

  .footer_logo {
      margin-bottom: 24px;
  }

  .nav_links {
      display: flex;
      gap: 8px;
      margin-bottom: 24px;
  }

  .footer_content {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      border-bottom: 1px solid #4b4b4b;
      font-size: 14px;
  }

  .disclaimer_area {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
  }

  .disclaimer {
      max-width: 550px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
  }

  .footer_button_group {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }

  .footer_button {
      width: 130px;
      height: 40px;
      color: #333;
      background: #fff;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
  }

  .copyright {
      font-size: 14px;
      font-weight: 700;
  }