/*
 * 파일명: index.css
 * 담당자: 김영태
 * 작성일: 2025-09-02
 * 최근 수정일: 2025-09-02
 * 설명: 메인 스타일 시트
 * 수정이력:
 *  2025-09-02: 최초 작성
    
*/

.container {
    outline: 1px solid #eee;
    box-sizing: border-box;
}

.brand_slide_content {
    padding: 0 15px;
}

.brand_slider_container {
    overflow: hidden;
}

.brand_slide_track {
    width: 200%;
    display: flex;
    gap: var(--spacing-sm);
}

.brand_slide {
    width: 130px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
}

.brand_slide a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.new_product_title {
    padding-left: 15px;
}

.product_list_wrapper {
    flex-wrap: wrap;
}

.keyword_product_title {
    padding-left: 15px;
}

.review_header {
    margin-bottom: 40px;
}

.review_content {
    width: 780px;
    padding: 24px 15px;
    position: relative;
}

.review_desc {
    color: #a3a3a3;
}

.other_review {
    position: absolute;
    width: 360px;
    height: 70px;
    outline: 1px solid var(--border-color-basic);
    border-radius: 5px;
    top: 24px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding: 12px 24px;
}

.other_review_img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.other_review_img img {
    width: 100%;
    height: 100%;
}

.other_review_header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    font-size: 10px;
}

.other_review_header>div {
    display: flex;
    gap: 10px;
}

.other_review_comment {
    flex: 1;
    max-width: 200px;
}

.review_card {
    display: flex;
    gap: var(--spacing-sm);
}

.review_card_thumbnail {
    width: 180px;
    height: 180px;
}

.review_card_thumbnail a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.review_card_thumbnail a img {
    width: 100%;
    height: 100%;
}

.review_card_body {
    border-radius: 5px;
    padding: 20px 18px;
    flex: 1;
    outline: 1px solid var(--border-color-basic);
    border-radius: 5px;
}

.review_card_title {
    margin-bottom: 22px;
}
.review_card_info {
    background: #f5f5f5;
    padding: 14px;
}

.review_card_header {
    display: flex;
    margin-bottom: 14px;
    gap: 8px;
}

.review_card_meta {
    font-size: 10px;
    color: #828282;
    display: flex;
    gap: 10px;
    align-items: center;
}

.review_card_location {
    position: relative;
}

.review_card_location::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 5px);
    background-color: #828282;
}

/* community_content */
.community_content {
    padding: 0 15px;
}

.community_title {
    margin-bottom: var(--spacing-sm);
}

.community_wrapper {
    display: flex;
    gap: var(--spacing-sm);

}

.community_thumbnail {
    width: 312px;
    height: 240px;
    border-radius: 5px;
    overflow: hidden;
}

.community_thumbnail a {
    display: block;
    width: 100%;
    height: 100%;
}

.community_thumbnail a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community_info {
    margin-bottom: var(--spacing-sm);
    display: flex;
    gap: var(--spacing-xs);
}

.community_stats {
    display: flex;
    gap: 8px;
}

.community_stats li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.community_stats li p svg {
    width: 14px;
    height: 14px;
}

.community_stats li span {
    font-weight: 300;
}

.community_meta {
    font-size: 10px;
    color: #828282;
    display: flex;
    gap: 10px;
    align-items: center;
}

.community_location {
    position: relative;
}

.community_location::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 5px);
    background-color: #828282;
}

.article_title {
    margin-bottom: 14px;
}

