.mypage{
  padding: 0 18px;
}
.mypage>div{
  margin-bottom: var(--mg_24);
}
.mypage h2{
  margin-bottom: var(--mg_12);
}
.mypage ul{
  display: flex;
  max-width: 100%;
  gap: 96px;
  padding: 30px;
  background: rgba(243, 243, 243, 0.4);
}
.mypage ul li a{
  display: flex;
  flex-direction: column;
}
.mypage ul li img{
  margin: 0 auto;
  margin-bottom: var(--mg_12);
}