.tab_menu{
  display: flex;
  gap: var(--mg_12);
  margin: 0 0 var(--mg_24) 18px;
}

.tab_menu a {
  font: var(--lh);
  font-size: calc(var(--fz) * 1.25);
  font-weight: 700;
  color: var(--sub_text);
}

.tab_menu a.active {
  color: var(--light_black);
}

.soldout_list_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 18px;
}

.hidden {
  display: none;
}

/* product_list 2col ver  */
.product_list_wrapper_2col {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 18px;
}

.product_card_2col {
  width: calc(50% - 10px);
  background: white;
  cursor: pointer;
}

.soldout_list_wrapper .product_title,
.soldout_list_wrapper .product_price {
	font-size: var(--fz);
}

.product_card_2col.disable {
  opacity: 0.5;
}

.product_card_2col.disable .product_image img {
  filter: grayscale(100%);
}

.product_card_2col.disable .product_title,
.product_card_2col.disable .product_meta,
.product_card_2col.disable .product_price {
  color: var(--sub_text);
}
